.color{color:#002f34}

.header{
    top:0px;
    left: 0px;
    right: 0px;
    height: 70px;
    z-index: 9;
    background: #f1f1f1;
    box-shadow: 0px 2px 2px #dadada;
    padding: 0px 18%;
}
.header .logo{
     width: 50px;
     margin-right: 20px;
    }
.header .logo img{
    width: 100%;
}
.header .location {
    background-color: #fff;
    border: 2px #002f34 solid;
    border-radius: 5px;
}
.header .location .ico{
    padding: 10px;
}
.header .location .lable{
    flex: 1;
    padding: 10px;
    border: none
}
.header .location .arrow{
    flex:1;
    padding: 10px;
    border: 0px;
    background-color: #fff;
}
.header .search{
    flex:2;
    border: 2px #002f34 solid;
    background: #fff;
    margin: 0px 20px;
    border-radius: 5px;
}
.header .search .query{
    flex:1;
    padding: 10px;
    border: 0px;
}
.header .search .go{
    flex:1;
    padding:10px;
    border: 0px;
    background: #002f34;
    max-width: 50px;
}
.header .search .goHovere{}

.header .actions{
    flex: 1;
    max-width:200px;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.header .actions a{
    color: #002f34;
    margin: 0px 20px 10px 0px;
}
.header .actions .sell{
    padding: 8px 20px;
    border: 3px #ffa500 solid;
    color: #002f34;
    text-align: center;
    background-color:#fff ;
    border-radius: 30px;
    box-shadow: 0px 3px 5px #a9a9a9;


}
.header .actions .sell:hover{} 